.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

input {
  padding: 10px;
  margin: 10px;

  border-radius: 10px;
  border-style: none;

  width: 50%;
}

.error {
  background: #a40d0d;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
}
